.footer {
    background-color: #1e293b;
    /* Darker background to match the theme */
    padding: 10px;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    /* Lighter border for dark theme */
    margin-top: 10px;
    font-size: 0.9rem;
    color: #ffffff;
    /* Lighter text color for dark theme */
    text-shadow: #7c5ada 0 0 5px;
    text-size-adjust: calc(100% - 2px);
    text-autospace: 50px;
}

.link {
    color: #7c5ada;
    text-decoration: none;
}

.link:hover {
    color: #818cf8;
}